/* main.css */

html, body {
    height: 100%;
}

.fill-height {
    min-height: 100%;
    height: 100%;
}

#map-canvas {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: block;
}

#weather-container {
    display: none; /* enabled later */
    padding-top: 50px;
}

#weather-title {
    text-transform: capitalize;
}

.address {
    margin-left: 1em;
}